<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="EmitirNfse.Sil.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <clear />
    <add name="CnnEmitirNfse" connectionString="Data Source=s-sjp-labsql-01; pooling=true; Persist Security Info=false; Initial Catalog=EmitirNfse; User ID=sa; Password=sqladmin"
      providerName="System.Data.SqlClient" />
    <add name="CnnCep" connectionString="Data Source=s-sjp-labsql-01; pooling=true; Persist Security Info=false; Initial Catalog=DNE; User ID=sa; Password=sqladmin"
      providerName="System.Data.SqlClient" />
    <add name="CnnExcel" connectionString="Provider=Microsoft.ACE.OLEDB.12.0; Data Source=@Arquivo; Extended Properties='Excel 12.0 Xml;HDR=YES;IMEX=2';"
      providerName="Microsoft.ACE.OLEDB.12.0" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <add key="Pis" value="0,65"/>
    <add key="Cofins" value="3"/>
    <add key="Csll" value="1"/>
    <add key="IR" value="1,5"/>
    <add key="CNAE" value="6201500"/>
    <add key="ISS" value="3"/>
    <add key="Tributacao" value="0107"/>
    <add key="CNPJPrestador" value="02098247000118"/>
    <add key="InscMunicipal" value="1065800"/>
    <add key="CodigoMunicipio" value="3549805"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="CaminhoArquivos" value="C:\\Temp"/>
    <add key="SchemasXDS" value="C:\\Temp\\schemas_v300\\"/>
  </appSettings>
  <system.serviceModel>
    <bindings/>
    <client/>
  </system.serviceModel>
  <system.net>
    <defaultProxy enabled="true" useDefaultCredentials="true">
      <bypasslist>
        <clear/>
      </bypasslist>
      <proxy proxyaddress="s-sjp-gw-01:8080" usesystemdefault="False" bypassonlocal="True" autoDetect="False"/>
    </defaultProxy>
  </system.net>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <applicationSettings>
    <EmitirNfse.Sil.Properties.Settings>
      <setting name="EmitirNfse_Sil_ServiceGinfesImplService_ServiceGinfesImplService"
          serializeAs="String">
        <value>https://homologacao.ginfes.com.br/ServiceGinfesImpl?wsdl</value>
      </setting>
    </EmitirNfse.Sil.Properties.Settings>
  </applicationSettings>
</configuration>
